/* stylelint-disable csstree/validator */
/* stylelint-disable declaration-colon-newline-after */
.Chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.Title {
  width: 12.313rem;
  height: 1.813rem;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.comments {
  height: 1.2rem;
  color: #4386bf;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 0 0 0.688rem;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.Completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 0 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.Lesson {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.update {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
}

.category .Lesson {
  opacity: 0.5;
  font-size: 0.813rem;
  color: black;
}

.main-book {
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 96%;
  background-color: white;
  padding: 2rem;
  border: solid 1px rgb(205, 204, 204);
  display: flex;
  margin-bottom: 1rem;
}

.vertical {
  height: 20px;
  background-color: rgb(216, 216, 216);
  width: 1.5px;
}

.btn {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.oval {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(62, 168, 255) 75%, rgb(216, 216, 216) 0);
}

.circle {
  display: flex;
  flex: 1;
  gap: 1.5rem;
  justify-content: end;
  align-items: center;
}

.last {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
