.Chapter {
  height: 1.125rem;
  font-weight: 300;
}

.category {
  height: 1rem;
  font-weight: bold;
  margin-right: 2.438rem;
  margin-left: 0.7rem;
  color: rgb(166, 164, 164);
}

.Title {
  height: 1.813rem;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0.5rem;
  letter-spacing: -0.2px;
  color: black;
}

.author {
  height: 1.188rem;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  margin-left: 0.6rem;
  color: #4386bf;
}

.comments {
  height: 1.2rem;
  margin: 0.2rem 1rem 0.1rem 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #4386bf;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.percentage {
  margin-right: 0.688rem;
  font-size: 2rem;
  color: black;
}

.Completed {
  margin: 0.5rem 0 0.75rem 0;
  opacity: 0.5;
  font-size: 0.875rem;
  color: rgb(132, 132, 132);
}

.Lesson {
  height: 1.4rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: black;
}

.update {
  padding: 0.6rem 1.5rem;
  color: white;
  border-radius: 3px;
  background-color: rgb(13, 120, 202);
}

.category .Lesson {
  opacity: 0.5;
  font-size: 0.813rem;
  color: black;
}

.main-book {
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 96%;
  background-color: white;
  padding: 2rem;
  border: solid 1px rgb(205, 204, 204);
  display: flex;
  margin-bottom: 1rem;
}

.vertical {
  height: 20px;
  background-color: rgb(216, 216, 216);
  width: 1.5px;
}

.btn {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.oval {
  width: 5rem;
  height: 5rem;
  border: 6px #4386bf outset;
  border-radius: 50%;
  border-image-slice: 1;
}

.circle {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.last {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
