.mainsection {
  padding: 4%;
  background-color: #f5f6fa;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  padding-left: 4rem;
  background-color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: x-large;
  list-style-type: none;
}

li a {
  color: rgb(181, 180, 180);
  font-size: large;
  text-decoration: none;
  font-weight: 500;
}

.book {
  display: flex;
  flex-direction: row;
}

.book .action {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
